<div class="flex flex-row space-x-5 mx-10 my-10">
    <a href="/admin/allstudent">
    <div class="h-10 w-56 bg-light text-black py-2 px-5 rounded">
       <p>Total Students: <%=allmembers.allstudents%> </p>
    </div>
</a>
    <a href="/admin/allinterns">
    <div class="h-10 w-56 bg-primary text-white py-2 px-5 rounded">
       <p>Total Interns : <%=allmembers.allinterns%></p>
    </div>
</a>
    <a href="/admin/allcampus">
    <div class="h-10 w-fit bg-light text-black py-2 px-5 rounded">
       <p>Total Campus Ambassadors : <%=allmembers.allamabassadors%></p>
    </div>
</a>
</div>