<%-include('partials/header')-%>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <style>
      .about-heading
      {
        
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 43px;
        align-items: center;
        text-align: center;
      }
      .about-paragraph
      {
                    
            font-family: 'Lato';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.63);
            padding: 10px 60px 10px 20px;
      }
     
      .about-shortparagraphs
      {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #000000;
        padding: 10px 30px 10px 30px;
      }
      .second-section
      {
        background: #FFFFFF;
        box-shadow: 0px 10px 50px 4px rgba(0, 0, 0, 0.25);
      }
      @media screen and (max-width: 480px) {
     .about-paragraph
     {
        padding: 10px 20px 10px 20px;
        
        font-size: 15px;
        text-align: center;
     }
}
    </style>

    <!--vedioo section-->

    <h1 class=" mt-10 color-primary mb-[60px] about-heading">Our Vision</h1>
    <div class="flex flex-col  items-center  md:flex md:flex-row mb-[50px] ">

        <!--VEdio-->
        <div class="mx-10">
            <div
                class="shadow-2xl flex justify-center flex-col w-[300px] xl:w-[600px] xl:h-[300px] h-[200px]  items-center  rounded-xl bg-white m-7">
                
            </div>
            
        </div>
        <!--content-->
        <div class="w-fit about-paragraph">
            <p>
                We are a technology company on
                a mission to equip students with relevant skills & practical
                exposure to help them get the best possible start to their careers.
                Imagine a world full of freedom and possibilities. A world where you can
                discover your passion and turn it into your career.
                A world where you graduate fully assured, confident, and prepared to stake a claim on your place in the
                world.
            </p>
        </div>
    </div>

    <!--why Thinkwhat.....-->
    <div class="second-section">
     <h1 class="color-primary about-heading pt-[20px]">Why ThinkWhat? </h1>

    <div
        class=" flex flex-col md:flex md:flex-row w-fit px-10 items-center  py-10 gap-10 md:space-x-10 ">
        <!--first image-->
        <div class=" flex items-center flex-col">
            <img src="../public/images/learnwithus-removebg-preview.png" class="w-[300px] h-[250px]">

            <br>
            <p class="font-bold text-xl">Learn With Us </p>
            <br>
            <p class="about-shortparagraphs">
                Learn new-age skills on the go with our short-term online trainings
            </p>
        </div>
        <!--second image-->
        <div class="  flex items-center flex-col">
            <img src="../public/images/growwithus-removebg-preview.png" class="w-[300px] h-[250px]">
            <br>
            <p class="font-bold text-xl">Grow With Us </p>
            <br>
            <p class="about-shortparagraphs">
                Learn new-age skills on the go with our short-term online trainings
            </p>
        </div>
        <!--third image-->
        <div class="flex items-center  flex-col">
            <img src="../public/images/internwithus-removebg-preview.png" class="w-[300px] h-[250px]">
            <br>
            <p class="font-bold md:text-xl text-[15px]">Internship Opportunities</p>
            <br>
            <p class="about-shortparagraphs">
                Learn new-age skills on the go with our short-term online trainings
            </p>
        </div>
    </div>
</div>


    <script src="https://cdn.tailwindcss.com"></script>
   
    <link rel="stylesheets" src="./assets/style.css">
    <%-include('partials/footer')-%>