<%-include('partials/header')-%>
<style>
  .courses-interns-cards img {
    width: 150px;
    height: 150px;
  }
</style>

<link rel="stylesheets" href="../assets/style.css" />
<div id="main">
<section class="bg-header w-full">
  <div class="hidden h-[60vh] justify-between px-10 py-14 md:flex lg:h-[70vh]">
    <div class="flex flex-col justify-center items-center gap-14 mt-20">
      <div class="space-y-10 ml-20">
        <p
          class="color-primary font-extrabold text-2xl md:text-4xl lg:text-5xl"
        >
          Give the Best Start to Your Career
        </p>
        <p class="color-primary font-bold text-lg md:text-xl lg:text-2xl">
          Learn, Grow and get Internship!
        </p>
        <div class="flex justify-evenly md:justify-center gap-8 lg:mr-[40vh]">
          <button
            class="bg-dark text-white rounded-full py-2 px-5 text-xl w-fit font-bold shadow hover:shadow-2xl sm:text-2xl sm:px-7 sm:py-3"
          >
            <a href="#training"> Training </a>
          </button>
          <a href="#intern">
            <button
              class="color-primary bg-white rounded-full py-2 px-5 text-xl w-fit font-bold shadow hover:shadow-2xl sm:text-2xl sm:px-7 sm:py-3"
            >
              Internship
            </button>
          </a>
          <a href="#jobs">
            <button
              class="color-primary bg-white rounded-full py-2 px-5 text-xl w-fit font-bold shadow hover:shadow-2xl sm:text-2xl sm:px-7 sm:py-3"
            >
              Jobs
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="flex justify-center items-center mr-12 mt-5">
      <img
        src="./public/images/educationamico.svg"
        alt="hero-image"
        class="h-64 md:h-72 lg:80"
      />
    </div>
  </div>
  <!--Mobile view-->
  <div class="p-2 justify-center flex flex-col text-center gap-10 md:hidden">
    <div>
      <p class="color-primary font-extrabold text-2xl sm:text-3xl">
        Give the Best Start to Your Career
      </p>
      <p class="color-primary font-bold sm:text-lg">
        Learn, Grow and get Hired!
      </p>
    </div>
    <img
      src="./public/images/educationamico.svg"
      alt="hero-image"
      class="h-52"
    />
    <div class="flex flex-col items-center gap-5 sm:flex-row sm:justify-evenly">
      <button
        class="bg-dark text-white rounded-full w-[150px] py-2 px-5 text-xl font-bold shadow hover:shadow-2xl sm:text-2xl sm:px-7 sm:py-3"
      >
        <a href="#training"> Training </a>
      </button>
      <button
        class="color-primary bg-white rounded-full w-[150px] py-2 px-5 text-xl font-bold shadow hover:shadow-2xl sm:text-2xl sm:px-7 sm:py-3"
      >
        <a href="#intern"> Internship </a>
      </button>
      <button
        class="color-primary bg-white rounded-full w-[150px] py-2 px-5 text-xl font-bold shadow hover:shadow-2xl sm:text-2xl sm:px-7 sm:py-3"
      >
        <a href="#jobs"> Jobs </a>
      </button>
    </div>
  </div>
</section>

<!-- Training section -->
<section id="training">
  <div class="container mx-auto lg:py-10 lg:px-20">
    <p class="text-center text-4xl font-bold color-primary uppercase">
      Training
    </p>
    <div class="grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-4 mx-5">
      <div
        class="shadow-2xl flex justify-center flex-col items-center py-10 lg:py-0 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="course/frontend">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/frontendDev.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Frontend Development</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/course/backend">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/backendDev.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Backend Development</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/course/flutter">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/flutterDev.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Flutter Development</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/course/dsa">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/dsa.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">
            Data Structures & Algorithms
          </p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/course/angular">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/angularJS.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Angular JS</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/course/react">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/reactJS.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">React JS</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/course/cloud">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/googleCloud.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Google Cloud</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center py-10 lg:py-0 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/course/uiux">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/ui-ux.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">UI/UX</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- mid banner section -->
<div
  class="text-center color-primary bg-light flex my-24 justify-center items-center flex-col p-10 md:flex-row md:justify-evenly md:px-5"
>
  <div class="-mt-32">
    <img src="./public/images/boy.png" alt="boy image" class="h-44 sm:h-52" />
  </div>
  <div class="flex flex-col gap-5">
    <p class="font-extrabold text-xl sm:text-2xl">
      Training your way to success and <br />
      Apply to jobs with confidence
    </p>
    <p class="font-bold text-lg sm:text-xl">Learn, Grow and get Hired!</p>
  </div>
</div>

<!-- Internship section -->
<section id="intern">
  <div class="container mx-auto py-10 lg:px-20">
    <p class="text-center text-4xl font-bold color-primary uppercase">
      Internship
    </p>
    <div class="grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-4 mx-5">
      <div
        class="shadow-2xl flex justify-center flex-col py-10 lg:py-0 items-center rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/internship/frontendintern">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/frontendDev.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Frontend Development</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/internship/backendintern">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/backendDev.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Backend Development</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/internship/flutterintern">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/flutterDev.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Flutter Development</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/internship/cintern">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="../public/images/c_programming_image-removebg-preview.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Programming in C/C++</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/internship/pythonintern">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="../public/images/pythonimage-removebg-preview.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Python Development</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/internship/reactintern">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/reactJS.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">React JS Development</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center p-5 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/internship/sqlintern">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="../public/images/dbmsimage-removebg-preview.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">Database Development</p>
        </a>
      </div>
      <div
        class="shadow-2xl flex justify-center flex-col items-center py-10 lg:py-0 rounded-xl bg-white m-7 courses-interns-cards"
      >
        <a href="/internhsip/uiuxintern">
          <img
            class="rounded-xl bg-light mx-auto !w-full"
            src="./public/images/ui-ux.png"
            alt=""
          />
          <p class="text-center font-bold text-xl mt-3">
            UI/UX <br />
            Development
          </p>
        </a>
      </div>
    </div>
  </div>
</section>

<div
  class="text-center color-primary bg-light flex my-24 justify-center items-center flex-col p-10 md:flex-row md:justify-evenly md:px-5"
>
  <div class="-mt-32">
    <img src="./public/images/boy.png" alt="boy image" class="h-44 sm:h-52" />
  </div>
  <div class="flex flex-col gap-5">
    <p class="font-extrabold text-xl sm:text-2xl">
      Training your way to success and <br />
      Apply to jobs with confidence
    </p>
    <p class="font-bold text-lg sm:text-xl">Learn, Grow and get Hired!</p>
  </div>
</div>

<section id="jobs">
  <div class="mb-14 mt-10 lg:mx-10" id="jobs">
    <p
      class="text-center font-bold color-primary text-xl my-10 lg:text-2xl lg:my-16"
    >
      JOBS
    </p>

    <p class="text-5xl lg:text-7xl text-center color-primary font-bold">COMING SOON</p>
  </div>
</section>
<%-include('partials/footer')-%>
</div>

<!-- lower banner section -->
