<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" type="image/x-icon" href="./public/images/twfavicon.jpg">


    <!-- title -->
    <title>ThinkWh?t</title>
</head>


<style>
   
   * {
      font-family: "Lato", sans-serif;
    }

    
    body {
      overflow-x: hidden;
    }

    .bg-header {
      background: rgb(216, 227, 231);
      /* border-radius: 0 0 0 70%; */
      width: 2313px;
      height: 490px;
      /* top:-235px;
  left:-436px; */
      border-bottom-left-radius: 190% 800px;
      border-bottom-right-radius: 190% 800px;
    }

    .color-primary {
      color: rgb(39, 84, 115);
    }

    .color-light {
      color: rgb(34, 116, 172);
    }

    .color-yellow {
      color: rgb(254, 181, 33);
    }

    /* bg colors */
    .bg-primary {
      background-color: rgb(39, 84, 115);
    }

    .bg-light {
      background-color: rgb(216, 227, 231);
    }

    .bg-dark {
      background-color: rgb(95, 128, 151);
    }

    .bg-footer {
      background-color: rgb(36, 43, 48);
    }

    .bg-whitesmoke {
      background-color: rgb(217, 217, 217);
    }

    /* border color */
    .border-primary {
      border-color: rgb(39, 84, 115);
    }

    .sleft {
      position: absolute;
      right: 230px;
    }

    /* Hamburger Menu */
    
    /* Hamburger Menu */
   
@media screen and (min-width:480px)
{
  .dp{
             display:block;
    }
}
@media  screen and (max-width:480px) {
  .dp{
     display: none;
  }
  
}
    @media screen and (max-width: 480px) {
      .bg-header {
        background: rgb(216, 227, 231);
        /* border-radius: 0 0 0 70%; */
        width: 2313px;
        height: 940px;
        border-bottom-left-radius: 190% 200px;
        border-bottom-right-radius: 190% 200px;
      }
    }
    
    .bg-list {
      background-color: rgba(174, 211, 224, 0.8);
    }

    .moblogo {
      position: absolute;
      right: 280px;
    }
    @media screen and (max-width:330px) {
      .moblogo
      {
        position: absolute;
        right:240px;
        
      }
      .sleft
      { 
        right:180px;

      }
      .sz
      {
        width: 140px;
      }
    }
    @media screen and (max-width: 480px) {
      .bg-header {
        background: rgb(216, 227, 231);
        /* border-radius: 0 0 0 70%; */
      }
    }

    .bg-list {
      background-color: rgba(174, 211, 224, 0.8);
    }

    .moblogo {
      position: absolute;
      right: 280px;
    }

    @media screen and (max-width:330px) {
      .moblogo {
        position: absolute;
        right: 240px;

      }

      .sleft {
        right: 180px;

      }

      .sz {
        width: 140px;
      }
    }
    @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


/* hamburger */
svg {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active svg {
  transform: rotate(90deg);
}
path {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
path:nth-child(1) {
  transform-origin: 36% 40%;
}
path:nth-child(2) {
  stroke-dasharray: 29 299;
}
path:nth-child(3) {
  transform-origin: 35% 63%;
}
path:nth-child(4) {
  stroke-dasharray: 29 299;
}
path:nth-child(5) {
  transform-origin: 61% 52%;
}
path:nth-child(6) {
  transform-origin: 62% 52%;
}
.active path:nth-child(1) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}
.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(3) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}
.active path:nth-child(5) {
  transform: translateX(9px) translateY(1px) rotate(-45deg);
}
.active path:nth-child(6) {
  transform: translateX(9px) translateY(1px) rotate(45deg);
}

/* curved bg */
.border-curved {
  border-radius: 0% 0% 90% 90%;
}

/* bg colors */
.bg-light {
  background-color: rgb(216, 227, 231);
}
.navbar{
  height:150px;
  transition: all 0.5s ease-out;
  background-color: rgb(216, 227, 231);
}
.v-class
{
  height: 300px;
}
.opn
{
  opacity:0;
  transition: all 0.2s ease-out;
}
.h-nav
{
  opacity:1
}
    
      </style>
    </head>
    
    <body>
      <div id="struct">
   
        <nav class="shadow-sm px-2  bg-light top-0 lg:py-2" id="head">
          <!-- for large screens -->
          <div
            class="hidden md:flex justify-between items-center lg:justify-evenly"
          >
            <a href="/">
            <img src="./public/images/twnewlogo2.png" alt="logo image" class="h-[120px] w-[120px] mb-[10px]"  />
          </a>
            <div
              class="flex border bg-white py-2 px-3 gap-2 rounded-full items-center lg:py-3 lg:px-5"
            >
              <img src="./public/images/searchButton.png" class="h-5" />
              <input
                type="text"
                placeholder="Search"
                class="border-none focus:outline-none bg-transparent w-20 lg:w-52"
              />
            </div>
  
            <div>
              <ul class="flex text-lg gap-3 items-center lg:gap-14 lg:text-xl">
                <a href="/" class="group hover:font-bold">
                  <li>Home</li>
                  <div
                    class="hidden bg-dark h-1 w-1 mx-auto rounded-full animate-bounce group-hover:flex"
                  ></div>
                </a>
                <a href="/about" class="group hover:font-bold">
                  <li>About</li>
                  <div
                    class="hidden bg-dark h-1 w-1 mx-auto rounded-full animate-bounce group-hover:flex"
                  ></div>
                </a>
                <a href="/contact" class="group hover:font-bold">
                  <li>Contact</li>
                  <div
                    class="hidden bg-dark h-1 w-1 mx-auto rounded-full animate-bounce group-hover:flex"
                  ></div>
                </a>
              </ul>
            </div>
  
            
              <div class="gap-3 flex lg:gap-10 ">
                  <div>
                    <a href="/login">
                      <button
                        class="color-primary bg-white py-3 px-3 mx-5 xl:w-[150px] md:w-[100px] rounded-full items-center space-x-3 text-lg  group hover:font-bold"
                      >
                        Login
                      </button>
                    </a>
                  </div>
      
                  <div>
                    <a href="/signup">
                      <button
                        class="bg-dark text-white py-3 px-3 mx-5 xl:w-[150px] md:w-[100px] rounded-full items-center space-x-3 text-lg   group hover:font-bold"
                      >
                        Sign Up
                      </button>
                    </a>
                  </div>
                </div>
           
          </div>
  
          <!-- mob nav -->
          <nav class="navbar md:hidden">
          <div class="flex justify-between  items-center md:hidden">
            <div class="flex gap-5 items-center">
              <div>
                <a href="/">
                <img src="./public/images/twnewlogo2.png" alt="logo image" class="h-20 w-20" />
              </a>
              </div>
  
              <div
                class="flex border bg-white py-2 px-3 gap-2 rounded-full items-center h-fit"
              >
                <img src="./public/images/searchButton.png" class="h-5" />
                <input
                  type="text"
                  placeholder="Search"
                  class="border-none focus:outline-none bg-transparent w-20 sm:w-40"
                />
              </div>
            </div>
  
            <!-- hamburger -->
            <div onclick="this.classList.toggle('active')" class="burger">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="70"
                height="70"
                viewBox="0 0 200 200"
                class="cursor-pointer"
              >
                <g stroke-width="6.5" stroke-linecap="round">
                  <path
                    d="M72 82.286h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="rgb(39, 84, 115)"
                  />
                  <path
                    d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554"
                    fill="none"
                    stroke="rgb(39, 84, 115)"
                  />
                  <path
                    d="M72 125.143h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="rgb(39, 84, 115)"
                  />
                  <path
                    d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554"
                    fill="none"
                    stroke="rgb(39, 84, 115)"
                  />
                  <path
                    d="M100.75 82.286h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="rgb(39, 84, 115)"
                  />
                  <path
                    d="M100.75 125.143h28.75"
                    fill="#009100"
                    fill-rule="evenodd"
                    stroke="rgb(39, 84, 115)"
                  />
                </g>
              </svg>
            </div>
  
            <!-- insert mob menu below -->
          </div>
          <div class="nav-list op  flex flex-col justify-center items-center">
            
              <ul class="opn text-lg  font-bold space-y-5 gap-5">
                  <a href="/" class="group hover:font-bold">
                    <li>Home</li>
                    <div
                      class="hidden bg-dark h-2 w-2 mx-auto rounded-full animate-bounce group-hover:flex"
                    ></div>
                  </a>
                  <a href="/about" class="group hover:font-bold">
                    <li>About</li>
                    <div
                      class="hidden bg-dark h-2 w-2 mx-auto rounded-full animate-bounce group-hover:flex"
                    ></div>
                  </a>
                  <a href="/contact" class="group hover:font-bold">
                    <li>Contact</li>
                    <div
                      class="hidden bg-dark h-2 w-2 mx-auto rounded-full animate-bounce group-hover:flex"
                    ></div>
                  </a>
                  <a href="/login" class="group hover:font-bold">
                      <li>Login</li>
                      <div
                        class="hidden bg-dark h-2 w-2 mx-auto rounded-full animate-bounce group-hover:flex"
                      ></div>
                    </a>
                    <a href="/signup" class="group hover:font-bold">
                      <li>Sign Up</li>
                      <div
                        class="hidden bg-dark h-2 w-2 mx-auto rounded-full animate-bounce group-hover:flex"
                      ></div>
                    </a>
                </ul>
          </div>
          </nav>
        </nav>
      
<!-- login section -->
<form method="POST">
<div class="rounded-lg border-2 p-5 w-[80vw] md:w-[60vw] mt-5 md:mt-10 md:w-fit h-fit my-20 mx-auto space-y-5 shadow-lg hover:shadow-2xl">
    <p class="text-xl">Sign Up With A New Account</p>
    
    <a href="/auth/google">
    <div class="rounded border-2 my-5 flex items-center justify-center md:px-28 py-3 space-x-3 cursor-pointer">
        <img class="h-7" src="https://img.icons8.com/color/48/null/google-logo.png" />
        <p>SignIn with Google</p>
    </div>
</a>
<% if(typeof message !== 'undefined' && message !== 'verification'){ %>
    <div
      style="background-color: rgba(255, 75, 75,0.5);"
      class="alert alert-danger alert-dismissible fade show w-[250px] h-[40px] r flex items-center justify-center "
      role="alert"
    >
      
     <strong><%= message %>.</strong> 
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close">X</button>
    </div>
    <% } %>
    <div class="flex items-center space-x-3">
        <div class="h-[1px] w-full bg-gray-300"></div>
        <p class="text-gray-500">OR</p>
        <div class="h-[1px] w-full bg-gray-300"></div>
    </div>
    <div class="flex flex-col gap-5">
      <div class="flex flex-col gap-1">
        <p class="text-lg">Name</p>
        <input class=" border-2 rounded-sm w-full p-2" name="name" type="text" placeholder="Enter your name" />
      </div>

      <div class="flex flex-col gap-1">
        <p class="text-lg">Email ID</p>
        <input class=" border-2 rounded-sm w-full p-2"  name="email" type="text" placeholder="Enter your email" />
      </div>

      <div class="flex flex-col gap-1">
        <p class="text-lg">Password</p>
        <input class="border-2 rounded-sm w-full p-2" name="password" type="password" placeholder="Enter your password" />
      </div>

      <div class="flex flex-col gap-1">
        <p class="text-lg">Confirm Password</p>
        <input class="border-2 rounded-sm w-full p-2" type="password" name="cpassword" placeholder="Enter confirm password" />
      </div>
    </div>
    <div>
        <button class="bg-primary text-white py-3 w-full rounded space-x-3 text-lg">
            Signup
        </button>
    </div>
    <div class="flex items-center space-x-3">
        <p>Already Registered? </p>
        <a href="/Login">
            <p class="color-light">Login</p>
        </a>
    </div>
</div>
</form>

<!-- footer -->
<%-include('partials/footer')-%>
<!-- Tailwind CSS script-->
<script src="https://cdn.tailwindcss.com"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
crossorigin="anonymous"
></script>
<script>
    const data = "<%=message%>";
    if(data=="verification")
    {
        Swal.fire("A Verification Mail Has been sent to Your Mail ID");
    }
    const burger = document.querySelector('.burger')
      const navbar= document.querySelector('.navbar')
      const opn = document.querySelector('.opn')
      burger.addEventListener('click',()=>
      {
        
        navbar.classList.toggle('v-class')
        opn.classList.toggle('h-nav')
      })
</script>
</body>
</html>