<div class=" px-7 md:px-28 mt-10 space-y-5">
    <p class="color-primary text-center text-4xl font-extrabold">About This Program</p>
    <h1 class=" text-center sm:text-2xl text-xl">We Are MSME registered and this is a 4 Week Internship Program opportunity from Thinkwh?t</h1>
    </p>
<div class="mx-auto py-10 w-full flex flex-col items-center">
  <p class="color-primary text-4xl font-extrabold text-center mb-10 ">
    What will you get ?
  </p>
  <div class="grid grid-cols-3 grid-rows-3 gap-[15px] sm:gap-12  sm:pl-[95px]  ">
       <div class="flex sm:flex-row flex-col text-center items-center md:space-x-7">
          <img src="../public/images/lor-removebg-preview.png" alt="24 X 7 Doubt clearning" class="h-[50px]  w-[50px] bg-light rounded-xl " />
          <p class="sm:text-lg text-sm">Offer Letter</p>
        </div>
    

     <div class="  sm:mr-0 flex sm:flex-row flex-col text-center items-center md:space-x-7  ">
      <img src="../public/images/certificate.png" alt="Mobile Friendly" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
      <p class="sm:text-lg text-sm">Certification of Internship</p>
     </div>

    <div class="flex  sm:flex-row flex-col text-center items-center md:space-x-7">
      <img src="../public/images/learnOnline.png" alt="Learn Online" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
      <p class="sm:text-lg text-sm">Online Session</p>
    </div>

   

    <div class="flex mr-4 sm:mr-0 sm:flex-row flex-col text-center items-center md:space-x-7">
      <img src="../public/images/assignment-add.svg" alt="Assignments" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
      <p class="sm:text-lg text-sm">Tasks</p>
    </div>

  

    <div class="flex sm:flex-row flex-col text-center items-center md:space-x-7">
      <img src="../public/images/bulb.png" alt="Hands-On Project Based Learning" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
      <p class="sm:text-lg text-sm">Project Based Learning</p>
    </div>
    <div class="flex sm:flex-row flex-col text-center items-center md:space-x-7">
      <img src="../public/images/doubt-removebg-preview.png" alt="24 X 7 Doubt clearning" class="h-[50px]  w-[50px] bg-light rounded-xl " />
      <p class="sm:text-lg text-sm">Doubt Clearing</p>
    </div>
    

  </div>
</div>
</div>
