







<div class="mx-auto py-10 w-full flex flex-col items-center">
    <p class="color-primary text-4xl font-extrabold text-center mb-10 ">
      Courses Highlights
    </p>
    <div class="grid grid-cols-3 grid-rows-3 gap-[15px] sm:gap-12  sm:pl-[95px]  ">

      <div class="flex items-center sm:flex-row flex-col text-center items-center sm:space-x-7 ">
        <img src="../public/images/stairs.png" alt="Beginner Friendly" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
        <p class="sm:text-lg text-sm">Beginner Friendly</p>
      </div>

      <div class="  sm:mr-0 flex sm:flex-row flex-col text-center items-center md:space-x-7  ">
        <img src="../public/images/certificate.png" alt="Mobile Friendly" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
        <p class="sm:text-lg text-sm">Certification of Training</p>
      </div>

      <div class=" mr-5 sm:mr-0 flex sm:flex-row flex-col text-center items-center md:space-x-7 ">
        <img src="../public/images/lift-to-talk.svg" alt="Mobile Friendly" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
        <p class="sm:text-lg text-sm">Mobile Friendly</p>
      </div>

      <div class="flex  sm:flex-row flex-col text-center items-center md:space-x-7">
        <img src="../public/images/learnOnline.png" alt="Learn Online" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
        <p class="sm:text-lg text-sm">Learn Online</p>
      </div>

      <div class="flex sm:flex-row flex-col text-center items-center md:space-x-7">
        <img src="../public/images/download.svg" alt="Downloadable Content" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
        <p class="sm:text-lg text-sm">Downloadable Content</p>
      </div>

      <div class="flex mr-4 sm:mr-0 sm:flex-row flex-col text-center items-center md:space-x-7">
        <img src="../public/images/assignment-add.svg" alt="Assignments" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
        <p class="sm:text-lg text-sm">Assignments</p>
      </div>

      <div class="flex sm:flex-row flex-col text-center items-center md:space-x-7">
        <img src="../public/images/doubt-removebg-preview.png" alt="24 X 7 Doubt clearning" class="h-[50px]  w-[50px] bg-light rounded-xl " />
        <p class="sm:text-lg text-sm">Doubt clearning</p>
      </div>

      <div class="flex sm:flex-row flex-col text-center items-center md:space-x-7">
        <img src="../public/images/bulb.png" alt="Hands-On Project Based Learning" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
        <p class="sm:text-lg text-sm">Hands-On Project Based Learning</p>
      </div>

      <div class="flex mr-5 sm:mr-0 sm:flex-row flex-col text-center items-center md:space-x-7">
        <img src="../public/images/schedule.svg" alt="Lifetime Access" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
        <p class="sm:text-lg text-sm">Lifetime Access</p>
      </div>

    </div>
  </div>



  <!-- learning path -->
  <div class="my-20 space-y-14">
    <p class="color-primary text-4xl font-extrabold text-center mb-10">
      Learning Path
    </p>
    <div class="flex items-center justify-center flex-col md:flex-row gap-10 md:gap-0">
      <div class="md:space-y-2 flex flex-col items-center">
        <div
          class=" border-primary border-[6px] rounded-3xl h-20 w-20 1.2px [transform:_rotate(41.36deg)] flex justify-center items-center">
          <div class="bg-dark p-3 h-12 w-12 rounded-2xl flex justify-center items-center">
            <p class="text-xl font-extrabold text-white [transform:_rotate(-41.36deg)]">
              1
            </p>
          </div>
        </div>
        <p class="mt-2 " >Beginner</p>
      </div>

      <p class="-mt-12 hidden md:flex">
        ....................................................
      </p>
      <p style="line-height:0.3;" class="-mt-10 sm:hidden">
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
      </p>

      <div class="space-y-3 flex flex-col items-center -mt-5">
        <div
          class="bg-whitesmoke border-primary border-[6px] rounded-3xl h-20 w-20 1.2px [transform:_rotate(41.36deg)] flex justify-center items-center">
          <div class="bg-dark p-3 h-12 w-12 rounded-2xl flex justify-center items-center">
            <p class="text-xl font-extrabold text-white [transform:_rotate(-41.36deg)]">
              2
            </p>
          </div>
        </div>
        <p >Intermediate</p>
      </div>
      <p class="-mt-12 hidden md:flex">
        ....................................................
      </p>
      <p style="line-height:0.3;" class="-mt-10 sm:hidden">
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
        .
        <br>
      </p>

      <div class="space-y-3 flex flex-col items-center -mt-5">
        <div
          class="bg-whitesmoke border-primary border-[6px] rounded-3xl h-20 w-20 1.2px [transform:_rotate(41.36deg)] flex justify-center items-center">
          <div class="bg-dark p-3 h-12 w-12 rounded-2xl flex justify-center items-center">
            <p class="text-xl font-extrabold text-white [transform:_rotate(-41.36deg)]">
              3
            </p>
          </div>
        </div>
        <p>Advanced</p>
      </div>
    </div>
  </div>
  <script src="https://cdn.tailwindcss.com"></script>